html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.voltar-final {
    z-index: 1;
    position: absolute;
}

#btn-sair {
    display: none;
}

.black-white {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    animation: colorWhite 5s;
}

.hide {
    visibility: hidden;
}

.page {
    width: 100%;
    min-width: 100%;
}

.full-button {
    width: 100%;
}

.elements {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.relative {
    position: relative;
}

.language {
    position: absolute;
    z-index: 10;
    right: 10px;
}

.card-text-info {
    position: absolute;
    z-index: 1;
    right: 200px;
    width: 500px;
    top: 100px;
}

@media (max-width: 799px) {
    .card-text-info {
        position: absolute;
        z-index: 1;
        right: 0px;
        width: 100%;
        top: inherit;
        bottom: 0px;
    }
}


/* -------INDEX--------*/

.ajust-buttom {
    margin-top: -180px;
}

.change-second, .change-info {
    margin-top: 10px;
}


/* -------SECOND PAGE--------*/

.second-page {
    background: #5adcff;
}

.second-page .cloud, .second-page .montains, .second-page .text {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

.second-page .cloud {
    position: relative;
    z-index: 1;
}

.second-page .text {
    max-width: 100%;
    width: 0;
    top: 90%;
    left: 30%;
    display: none;
    position: absolute;
    z-index: 1;
}

.second-page .me-horse {
    max-width: 100%;
    width: 0;
    top: 0;
    left: -100%;
    position: absolute;
    z-index: 2;
}


/* ------- PAGE TRES--------*/

.page-tres .animation {
    animation: visibleElement 3s;
    animation-play-state: paused;
}

.page-tres .play {
    animation-play-state: running;
}


/* ------- PAGE QUATRO--------*/

.page-quatro {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #a8fef3;
}

.page-quatro .chapeu, .page-dez .chapeu {
    animation: rotateChapeu 3s;
    will-change: transform;
}


/* ------- PAGE CINCO--------*/

.page-cinco .mapa, .page-oito .mapa {
    animation: mapa 5s;
}


/* ------- PAGE SEIS--------*/

.page-nove .animation, .page-seis .letra {
    animation: letraMovimento 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    will-change: transform;
}


/* ------- PAGE SEIS--------*/

.traducao {
    position: absolute;
    top: 90%;
    display: none;
    z-index: 1000;
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Arial';
    font-size: 20px;
    color: yellow;
    text-align: center;
    ;
}

#traducao {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
}


/* ------- PAGE NOVE--------*/

.page-nove .animation {
    animation: letraMovimento 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    will-change: transform;
    display: none;
}

.page-nove .play {
    display: block;
}

.page-nove .java {
    top: 5%;
    left: 10%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .cordova {
    top: 5%;
    left: 85%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .angular {
    top: 5%;
    left: 11%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .nodejs {
    top: 5%;
    left: 78%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .gulp {
    top: 46%;
    left: 18%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .grunt {
    top: 46%;
    left: 5%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .html {
    top: 46%;
    left: 73%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.page-nove .css {
    top: 46%;
    left: 85%;
    max-height: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}


/* ------- PAGE ONZE--------*/

.page-onze .estrelas {
    background: url('../img/page-onze/estrelas.png');
    background-repeat: repeat;
    animation: starMove 4s linear infinite;
}

.page-onze .boneco {
    animation: bonecoMovimento 6s ease-out infinite;
}


/* ------- PAGE DOZE--------*/

.contrate {
    font-size: 80px;
    color: #FFF;
    font-family: Monoton;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}


/* ------- PAGE FINAL--------*/

#page-central {
    height: 100%;
}

.final {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/page-sete/carro.gif');
    background-size: cover;
}


/*---------- ANIMATIONS -----------*/

@keyframes starMove {
    0% {
        background-position: left 0;
    }
    100% {
        background-position: left 2000px;
    }
}

@keyframes visibleElement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateChapeu {
    0% {
        transform: rotate(360deg);
        width: 50%;
        top: 50%;
    }
    100% {
        transform: rotate(0deg);
        width: 100%;
        top: 0%;
    }
}

@keyframes mapa {
    0% {
        top: 100%;
        display: none;
    }
    1% {
        display: block;
    }
    100% {
        top: 0;
    }
}

@keyframes letraMovimento {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bonecoMovimento {
    0% {
        transform: translate(-1500px, 500px);
    }
    100% {
        transform: translate(2000px, -650px);
    }
}

@keyframes colorWhite {
    0% {
        filter: none;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    100% {
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
}

.collection .collection-item {
    line-height: 2.5rem;
}

.collection .collection-item.avatar {
    min-height: 60px;
}

.collection .collection-item.avatar i.circle {
    line-height: 45px;
}

.collection .collection-item.avatar i.circle.facebook {
    background-color: #3b5998;
}

.collection .collection-item.avatar i.circle.twitter {
    background-color: #4da7de;
}

.collection .collection-item.avatar i.circle.linkedin {
    background-color: #3371b7;
}

.collection .collection-item.avatar i.circle.github {
    background-color: #221e1b;
}

.collection .collection-item.avatar i.circle.whatsapp {
    background-color: #20B038;
}

.collection .collection-item.avatar i.circle.telegram {
    background-color: #0088cc;
}

.no-margin {
    margin: 0;
}
