<div class="voltar-final">
	<a href="" class="waves-effect pink lighten-1 btn">Voltar</a>
</div>
<div class="final">
    <div class="container">
        <div class="row no-margin">
            <div class="col s6 offset-s3">

                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/eu.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Guilherme Costa Berghauser (Torto)<i class="material-icons right">more_vert</i>
                        </span>
												<p>
													Clique na foto para ver minhas redes sociais.
												</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Minhas Redes<i class="material-icons right">close</i>
                        </span>
												<span class="">Todas as minhas contas na rede mundial de computadores, sou um querido só chegar! </span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="socicon-facebook circle facebook"></i>
                                <span class="title"><a href="https://www.facebook.com/tortoyo">Facebook</a></span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-twitter circle twitter"></i>
                                <span class="title"><a href="https://twitter.com/tortoyo">Twitter</a></span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-linkedin circle linkedin"></i>
                                <span class="title"><a href="https://br.linkedin.com/in/guilherme-berghauser-12135455">Linkedin</a></span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-github circle github"></i>
                                <span class="title"><a href="https://github.com/torto">Github</a></span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-github circle github"></i>
                                <span class="title"><a href="https://torto.github.io/">Blog no Github.io</a></span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-mail circle red darken-3"></i>
                                <span class="title">tortoyoyo@gmail.com</span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-whatsapp circle whatsapp"></i>
                                <span class="title">+ 55 (46) 9916-8533</span>
                            </li>
														<li class="collection-item avatar">
                                <i class="socicon-telegram circle telegram"></i>
                                <span class="title">@tortoyo</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
	<div class="col s8 offset-s2">
			<span class="center-align white-text"><p class="no-margin">As ilustrações foram feitas pela minha amiga linda e amada Debora Dias - <a class="white-text" href="https://www.facebook.com/debediasf">Facebook</a> - <a class="white-text" href="http://www.debedias.tumblr.com/">Tumblr</a></p></span>
	</div>
</div>

    </div>

</div>

<script type="text/javascript">

	$('.voltar-final').on('click', function(){
		 location.reload();
	})
</script>
