<div class="page second-page">
    <img class="cloud" src="img/page-dois/nuvem.gif" alt="nuvem" />
    <img class="montains" src="img/page-dois/grama.gif" alt="grama" />

    <img class="me-horse" src="img/page-dois/cavalo.gif" alt="cavalo" />

    <img class="text o-mundo" src="img/page-dois/omundo.gif" alt="o mundo" />

    <img class="text encantado" src="img/page-dois/encantado.gif" alt="encantado" />

    <img class="text de" src="img/page-dois/de.gif" alt="de" />

    <img class="text tortolandia" src="img/page-dois/tortolandia.gif" alt="tortolandia" />
</div>
